@import "tailwindcss";


body{
    font-family:  'Arial Narrow', Arial, sans-serif;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif */
    /* background-color:#eff6ff; */
}
h2{
  color:#5E5E5E;
}
/* @keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
} */